/* .logo {
    width: 100px;
}

.message {
    color: blue;
}

.message:hover {
    background-color: yellow;
} */

.App {
  text-align: center;
}

.WelcomeSection {
  padding: 5% 10% 5% 1%;
  text-align: left;
}

h1 {
  text-decoration: underline;
  padding-bottom: 5%;
}

.rdw-editor-main {
  background-color: white !important;
}
.DraftEditor-root {
  min-height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.public-DraftStyleDefault-block {
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.rdw-editor-wrapper {
  margin-top: 2rem;
}
