* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

.WelcomeSection {
  padding: 5% 10% 5% 1%;
  text-align: left;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #ed4343;
  font-weight: bold;
}

.rdw-editor-main {
  background-color: white !important;
}

.DraftEditor-root {
  min-height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.public-DraftStyleDefault-block {
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.rdw-editor-wrapper {
  margin-top: 3rem;
}

.alert {
  padding: 0;
  margin: 0;
  text-align: center;
}

.quest-title {
  cursor: pointer;
}

.card-header:hover {
  background-color: #dadada;
  transition: all 0.3s ease-out;
}

.text-muted {
  font-size: small;
}

.btn {
  height: 3rem;
  font-weight: bold;
}

.searchBar,
.input-field {
  height: 3rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fbb03b;
  border-color: #fbb03b;
  box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #fbb03b;
  box-shadow: none;
}

.custom-switch {
  display: inline-flex !important;
}

a {
  color: #ed4343;
}

a:hover {
  color: #b71111;
}

.primary-color {
  background-color: #ed4343;
  border-color: #ed4343;
}

.primary-color:hover {
  background-color: #b71111;
  border-color: #b71111;
}

.secondary-color {
  background-color: #fbb03b;
  border-color: #fbb03b;
}

.secondary-color:hover {
  background-color: #f39604;
  border-color: #f39604;
}

.tertiary {
  color: #fbb03b;
  border: 0px;
}

.tertiary:hover {
  color: #f39604;
  border: 0px;
}

.firebaseui-idp-button {
  height: 3rem !important;
  box-shadow: none !important;
  font-weight: bold !important;
  border-radius: 0.25rem !important;
}

.nav-bar {
  background-color: #dadada;
  border-radius: 0.25rem;
}

.moment-date {
  display: inline !important;
}

.text-dark {
  border-radius: 0.25rem;
}

.switch-key {
  height: 100%;
  border-radius: 0.25rem;
}

.custom-control-label {
  margin-left: 0.5rem;
}
